body{
	background-color: white;
	}

#field{
  border-style: double;
  border-width: 2px;
  border-color: black
}

#navbar {
  overflow: hidden;
  background-color: #7e7579;
}

#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  position: sticky;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
      