<!DOCTYPE html>
<html>

<head>
    <title>{{ data.question }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>

<body style='background-color: #4286f4;'>
	<div id="navbar" display='Navbar()'>
	  <a href="results">Results</a>
	  <a href="/add_temp">Add new</a>
	</div>

    <h1>{{ data.question }}</h1>
    <form action="/poll">
        {% for e in data.fields %}
        <input type="radio" name="field" value="{{ e }}"> {{ e }}<br>
        {% endfor %}
        <input type="submit" value="Vote" />
    </form>
	<script src='../static/js/navbar.js'></script>
</body>

</html>