<!DOCTYPE html>
<html>
	<head>
		<title>Settings</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
	</head>
	<body style="background-color=#4286f4">
		<div id="navbar">
			<a href="/home">Home</a>
			<a href="/results">Results</a>
			<a href="/add_temp">Add new</a>
		</div>
		Navbar color: <input type="color" id="navbar_color" value="#ff5baa"><br>
		Text color: <input type="color" id="text_color" value="#000000"><br>
		Page color: <input type="color" id="page_color" value="#4286f4"><br>
		
		<script>
			if(localStorage.nav_color==null){
				localStorage.setItem("nav_color", "#ff5baa");
				localStorage.setItem("txt", "#000000");
				localStorage.setItem("page", "#4286f4");
			}else{
				localStorage.nav_color=document.getElementById('navbar_color').value;
				localStorage.txt=document.getElementById('text_color').value;
				localStorage.page=document.getElementById('page_color').value;
			}
			document.getElementById('navbar_color').value=localStorage.nav_color;
			document.getElementById('text_color').value=localStorage.txt;
			document.getElementById('page_color').value=localStorage.page;
			
		</script>
	</body>
</html>