{% extends "layout.html" %}

{% block head %}
<title>Settings</title>
{% endblock %}

{% block body %}
Navbar color: <input type="color" id="navbar_color" value="#7e7579"><br>
Text color: <input type="color" id="text_color" value="#000000"><br>
Page color: <input type="color" id="page_color" value="#ffffff"><br>

<script>
	if (localStorage.nav_color == null) {
		localStorage.setItem("nav_color", "#7e7579");
		localStorage.setItem("txt", "#000000");
		localStorage.setItem("page", "#ffffff");
	} else {
		localStorage.nav_color = document.getElementById('navbar_color').value;
		localStorage.txt = document.getElementById('text_color').value;
		localStorage.page = document.getElementById('page_color').value;
	}	
</script>
{% endblock %}