<!DOCTYPE html>
<html>

<head>
  <title>Thank you ^^</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
</head>

<body>
	<div id="navbar">
	    <a href="/home">Home</a>
		<a href="/results">Results</a>
		<a href="/add_temp">Add new</a>
	</div>
 

  <h1 id='h1' >Thank you for submitting your vote for {{ data }}</h1>
  
	<script>
		document.body.style.backgroundColor = localStorage.page;
		document.getElementById('navbar').style.backgroundColor=localStorage.nav_color;
		document.getElementById('h1').style.color=localStorage.txt;
		document.getElementById('vote').style.color=localStorage.txt;
	</script>
</body>

</html>